<!doctype html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{site.metadata.title}}</title>
    <meta name="description" content="{{site.metadata.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="{{site.metadata.faviconType}}" href="{{site.metadata.favicon}}" />
    <!-- CSS here -->
    {{#each stylesheets}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <!-- Open Graph -->
    {{#if site.metadata}}
    <meta property="og:title" content="{{site.metadata.title}}" />
    <meta property="og:site_name" content="{{site.metadata.title}}" />
    <meta property="og:url" content="{{site.metadata.url}}" />
    <meta property="og:description" content="{{site.metadata.description}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{site.metadata.image}}" />
    <meta name="title" content="{{site.metadata.title}}" />
    <meta name="description" content="{{site.metadata.description}}" />
    <meta name="keywords" content="{{site.metadata.keywords}}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{site.metadata.url}}" />
    <meta property="twitter:title" content="{{site.metadata.title}}" />
    <meta property="twitter:description" content="{{site.metadata.description}}" />
    <meta property="twitter:image" content="{{site.metadata.image}}" />
    {{/if}}
  </head>

  <body class="rs-smoother-yes">
    <!-- preloader start -->
    <div id="pre-load">
      <div id="loader" class="loader">
        <div class="loader-container">
          <div class="loader-icon"><img src="{{site.favicon}}" alt="" /></div>
        </div>
      </div>
    </div>
    <!-- preloader end -->

    <!-- preloader start -->
    <div id="rs-mouse">
      <div id="cursor-ball"></div>
    </div>
    <!-- preloader end -->

    <!-- Header area start -->
    <header>
      <div class="rs-header-area header-transparent" id="header-sticky">
        <div class="container">
          <div class="rs-header-inner">
            <div class="rs-header-left">
              <div class="rs-header-logo">
                <a class="logo-black" href="index.html"><img src="{{header.logo.black}}" alt="logo" /></a>
                <a class="logo-white" href="index.html"><img src="{{header.logo.white}}" alt="logo" /></a>
              </div>
            </div>
            <div class="rs-header-menu">
              <nav id="mobile-menu" class="main-menu">
                <ul class="onepage-menu">
                  {{#each header.navigation}}
                  <li><a href="{{this.link}}">{{this.text}}</a></li>
                  {{/each}}
                </ul>
              </nav>
            </div>
            <div class="rs-header-right">
              <div class="rs-header-btn style-one d-none d-sm-block">
                <a class="rs-btn has-color has-icon" href="{{header.cta.link}}">
                  {{header.cta.text}}
                  <span class="icon-box">
                    <svg class="icon-first" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                      <path d="M31.71,15.29l-10-10L20.29,6.71,28.59,15H0v2H28.59l-8.29,8.29,1.41,1.41,10-10A1,1,0,0,0,31.71,15.29Z"></path>
                    </svg>
                    <svg class="icon-second" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                      <path d="M31.71,15.29l-10-10L20.29,6.71,28.59,15H0v2H28.59l-8.29,8.29,1.41,1.41,10-10A1,1,0,0,0,31.71,15.29Z"></path>
                    </svg>
                  </span>
                </a>
              </div>
              <div class="rs-header-hamburger">
                <div class="sidebar-toggle">
                  <a class="bar-icon" href="javascript:void(0)">
                    <span></span>
                    <span></span>
                    <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header area end -->

    <!-- Offcanvas area start -->
    <div class="fix">
      <div class="offcanvas-area" data-lenis-prevent>
        <div class="offcanvas-wrapper">
          <div class="offcanvas-content">
            <div class="offcanvas-top d-flex justify-content-between align-items-center mb-25">
              <div class="offcanvas-logo">
                <a class="logo-black" href="index.html"><img src="{{header.logo.black}}" alt="logo" /></a>
                <a class="logo-white" href="index.html"><img src="{{header.logo.white}}" alt="logo" /></a>
              </div>
              <div class="offcanvas-close">
                <button class="offcanvas-close-icon animation--flip">
                  <span class="offcanvas-m-lines"> <span class="offcanvas-m-line line--1"></span><span class="offcanvas-m-line line--2"></span><span class="offcanvas-m-line line--3"></span> </span>
                </button>
              </div>
            </div>
            <div class="offcanvas-about mb-30 d-none d-sm-block">
              <h4 class="offcanvas-title-meta">{{offcanvas.title}}</h4>
              <p>{{offcanvas.description}}</p>
            </div>
            <div class="mobile-menu">
              <div class="rs-offcanvas-menu mb-25">
                <nav></nav>
              </div>
            </div>
            <div class="offcanvas-contact mb-30">
              <h4 class="offcanvas-title-meta">Contact Info</h4>
              <ul>
                <li class="d-flex align-items-center gap-15">
                  <div class="offcanvas-contact-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18" fill="none">
                      <path d="M11.8768 9.68475C11.3059 10.835 10.5331 11.9818 9.74128 13.0109C8.95198 14.0368 8.15999 14.9249 7.5643 15.5572C7.48514 15.6412 7.40956 15.7206 7.33802 15.7951C7.26648 15.7206 7.1909 15.6412 7.11174 15.5572C6.51605 14.9249 5.72406 14.0368 4.93476 13.0109C4.14299 11.9818 3.37019 10.835 2.79925 9.68475C2.22242 8.52266 1.89032 7.43373 1.89032 6.5C1.89032 3.50846 4.32934 1.08333 7.33802 1.08333C10.3467 1.08333 12.7857 3.50846 12.7857 6.5C12.7857 7.43373 12.4536 8.52266 11.8768 9.68475ZM7.33802 17.3333C7.33802 17.3333 13.8753 11.1732 13.8753 6.5C13.8753 2.91015 10.9484 0 7.33802 0C3.7276 0 0.800781 2.91015 0.800781 6.5C0.800781 11.1732 7.33802 17.3333 7.33802 17.3333Z" fill="#6D6D6D"></path>
                      <path d="M7.33802 8.66667C6.13455 8.66667 5.15894 7.69662 5.15894 6.5C5.15894 5.30338 6.13455 4.33333 7.33802 4.33333C8.54149 4.33333 9.5171 5.30338 9.5171 6.5C9.5171 7.69662 8.54149 8.66667 7.33802 8.66667ZM7.33802 9.75C9.14323 9.75 10.6066 8.29492 10.6066 6.5C10.6066 4.70507 9.14323 3.25 7.33802 3.25C5.53281 3.25 4.0694 4.70507 4.0694 6.5C4.0694 8.29492 5.53281 9.75 7.33802 9.75Z" fill="#6D6D6D"></path>
                    </svg>
                  </div>
                  <div class="offcanvas-contact-text">
                    <a href="#">{{{offcanvas.contact.address}}}</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="offcanvas-social">
              <h4 class="offcanvas-title-meta">Subscribe & Follow</h4>
              <ul>
                {{#each offcanvas.social}}
                <li>
                  <a href="{{this.link}}"><i class="{{this.icon}}"></i></a>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas-overlay"></div>
    <div class="offcanvas-overlay-white"></div>
    <!-- Offcanvas area start -->

    <!-- Body main wrapper start -->
    <main>
      <!-- banner area start -->
      <section class="rs-banner-area rs-banner-six p-relative">
        <div class="rs-banner-bg" data-background="assets/images/bg/banner-bg-01.png"></div>
        <div class="rs-banner-bg bg-black" data-background="assets/images/bg/banner-bg-dark-02.png"></div>
        <div class="rs-banner-shape-two">
          <img src="assets/images/shape/small-arrow-two.png" alt="image" />
        </div>
        <div class="container">
          <div class="row g-5">
            <div class="col-xxl-7 col-xl-7 col-lg-7">
              <div class="rs-banner-content-wrapper p-relative">
                <div class="rs-banner-shape">
                  <img src="assets/images/shape/arow.png" alt="image" />
                </div>
                <div class="rs-banner-content">
                  <span class="rs-section-subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration=".7s">
                    <img src="assets/images/shape/hand-shape-02.svg" alt="" />
                    {{banner.subtitle}}
                  </span>
                  <h1 class="rs-banner-title wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".9s">
                    {{banner.title}}
                    <span class="cd-headline slide rs-title-slide">
                      <span class="cd-words-wrapper">
                        {{#each banner.roles}}
                        <b{{#if @first}} class="is-visible"{{else}} class="is-hidden"{{/if}}>{{this}}</b>
                        {{/each}}
                      </span>
                    </span>
                  </h1>
                  <div class="rs-banner-description wow fadeInUp" data-wow-delay=".7s" data-wow-duration="1.1s">
                    <p>{{banner.description}}</p>
                  </div>
                  <div class="rs-banner-btn wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1.3s">
                    <div class="rs-rotate-btn">
                      <a class="rs-circle-btn" href="{{banner.button.link}}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                          <path d="M31,0H15V2H28.59L.29,30.29l1.41,1.41L30,3.41V16h2V1A1,1,0,0,0,31,0Z"></path>
                        </svg>
                      </a>
                      <div class="rs_circle_title gsap-rotate rs-text-circle-wrapper">
                        <div class="rs-text-circle" data-rotate-degree="13.33">{{banner.button.text}} .</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-5 col-xl-5 col-lg-5">
              <div class="rs-banner-thumb wow fadeInRight" data-wow-delay="1.1s" data-wow-duration="1.5s">
                <img src="{{banner.image}}" alt="image" />
                <div class="rs-banner-exp gsap-move up-100 start-70">
                  <h3 class="rs-banner-exp-title"><span data-purecounter-duration="1" data-purecounter-end="25" class="purecounter">25</span>+</h3>
                  <p>{{banner.experience.text}}</p>
                </div>
              </div>
              <!-- Joe Bains Background Image -->
              <div class="rs-banner-bg-image wow fadeInRight" data-wow-delay="1.3s" data-wow-duration="1.7s">
                <img src="assets/images/bg/JoeBainsBG.jpeg" alt="Joe Bains Background" style="width: 200%; height: auto; opacity: 0.4; border-radius: 10px; margin-top: 20px; transform: translateX(-25%);" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- banner area end -->

      <!-- brand area start -->
      <section class="rs-brand-area primary-bg section-space rs-brand-three">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
              <div class="rs-section-title-wrapper section-title-space text-center">
                <span class="rs-section-subtitle has-text-style">
                  <img src="assets/images/shape/small-arrow.png" alt="image" />
                  {{brands.subtitle}}
                </span>
                <h2 class="rs-section-title rs-split-text-enable split-in-fade">{{brands.title}}</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="rs-brand-wrapper wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                {{#each brands.items}}
                <div class="rs-brand-item">
                  <div class="rs-brand-thumb">
                    <img src="{{this.image}}" alt="" />
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- brand area end -->

      <!-- services area start -->
      <section id="homeservices" class="rs-servcies-area section-space rs-services-six secondary-bg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
              <div class="rs-section-title-wrapper section-title-space text-center">
                <span class="rs-section-subtitle has-text-style">
                  <img src="assets/images/shape/small-arrow.png" alt="image" />
                  {{services.subtitle}}
                </span>
                <h2 class="rs-section-title rs-split-text-enable split-in-fade">{{services.title}}</h2>
              </div>
            </div>
          </div>
          <div class="row g-5">
            {{#each services.items}}
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="rs-services-wrapper wow fadeInUp" data-wow-delay="{{this.delay}}" data-wow-duration="1s">
                <div class="rs-services-item">
                  <div class="rs-services-icon">
{{{this.iconSvg}}}
                  </div>
                  <h5 class="rs-services-title"><a href="{{this.link}}">{{this.title}}</a></h5>
                  <div class="rs-services-description">
                    <p>{{this.description}}</p>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
      <!-- services area end -->

      <!-- skills area start -->
      <section id="homeskills" class="rs-skills-area section-space secondary-bg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
              <div class="rs-section-title-wrapper section-title-space text-center">
                <span class="rs-section-subtitle has-text-style">
                  <img src="assets/images/shape/small-arrow.png" alt="image" />
                  {{skills.subtitle}}
                </span>
                <h2 class="rs-section-title rs-split-text-enable split-in-fade">{{skills.title}}</h2>
              </div>
            </div>
          </div>
          <div class="row g-5">
            {{#each skills.categories}}
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="rs-skills-item wow fadeInUp" data-wow-delay="{{this.delay}}" data-wow-duration="1s">
                <div class="rs-skills-icon">
                  <i class="{{this.icon}}"></i>
                </div>
                <div class="rs-skills-content">
                  <h4 class="rs-skills-title">{{this.title}}</h4>
                  <ul class="rs-skills-list">
                    {{#each this.items}}
                    <li>{{this}}</li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
      <!-- skills area end -->

      <!-- experience area start -->
      <section id="homeabout" class="rs-experience-area rs-experience-two has-bg section-space primary-bg p-relative">
        <div class="rs-experience-shape-one">
          <img src="assets/images/shape/color-blur-shape.png" alt="image" />
        </div>
        <div class="rs-experience-shape-two">
          <img src="assets/images/shape/color-blur-shape-02.png" alt="image" />
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
              <div class="rs-section-title-wrapper section-title-space text-center">
                <span class="rs-section-subtitle has-text-style">
                  <img src="assets/images/shape/small-arrow.png" alt="image" />
                  {{experience.subtitle}}
                </span>
                <h2 class="rs-section-title rs-split-text-enable split-in-fade">{{experience.title}}</h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center gsap-fixed-yes">
            {{#each experience.items}}
            <div class="col-xl-10 col-lg-10">
              <div class="rs-experience-wrapper pin-spacer pin-spacer--trigger-{{@index}}">
                <div class="rs-experience-item">
                  <div class="rs-experience-top">
                    <div class="rs-experience-designation-wrapper">
                      <span class="rs-circle-shape"></span>
                      <h5 class="rs-experience-designation">{{this.designation}}</h5>
                    </div>
                    <span class="rs-experience-meta"> {{this.period}} </span>
                  </div>
                  <div class="rs-experience-bottom">
                    <div class="rs-experience-brand-thumb">
                      <img class="has-white" src="{{this.logo.light}}" alt="image" />
                      <img class="has-black" src="{{this.logo.dark}}" alt="image" />
                    </div>
                    <div class="rs-experience-content">
                      <h6 class="rs-experience-place">{{this.company}}</h6>
                      <div class="rs-experience-description">
                        <p>{{this.description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
      <!-- experience area end -->

      <!-- certifications area start -->
      <section id="homecertifications" class="rs-certifications-area section-space primary-bg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
              <div class="rs-section-title-wrapper section-title-space text-center">
                <span class="rs-section-subtitle has-text-style">
                  <img src="assets/images/shape/small-arrow.png" alt="image" />
                  {{certifications.subtitle}}
                </span>
                <h2 class="rs-section-title rs-split-text-enable split-in-fade">{{certifications.title}}</h2>
              </div>
            </div>
          </div>
          <div class="row g-5">
            {{#each certifications.categories}}
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="rs-certification-item wow fadeInUp" data-wow-delay="{{this.delay}}" data-wow-duration="1s">
                <div class="rs-certification-icon">
                  <i class="{{this.icon}}"></i>
                </div>
                <div class="rs-certification-content">
                  <h4 class="rs-certification-title">{{this.title}}</h4>
                  <ul class="rs-certification-list">
                    {{#each this.items}}
                    <li>{{this}}</li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
      <!-- certifications area end -->

      <!-- text slide area start -->
      <div class="rs-text-slide-area rs-text-slide-one primary-bg">
        <div class="container-fluid">
          <div class="rs-text-slide-wrapper wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
            <div class="gsap-marquee right speed-20 move-to-1000 text-gradient-no">
              <span class="rs-text-slide-item"> . {{portfolio.title}} . {{portfolio.title}} . {{portfolio.title}} . {{portfolio.title}} . {{portfolio.title}} . {{portfolio.title}} . {{portfolio.title}} . {{portfolio.title}} . </span>
            </div>
          </div>
        </div>
      </div>
      <!-- text slide area end -->

      <!-- portfolio area start -->
      <section id="homeportfolio" class="rs-portfolio-area rs-portfolio-one primary-bg section-space-bottom">
        <div class="container">
          <div class="row g-5">
            {{#each portfolio.items}}
            <div class="col-xl-6 col-lg-6 col-md-6">
              <div class="rs-portfolio-wrapper wow fadeInUp" data-wow-delay="{{this.delay}}" data-wow-duration="1s">
                <div class="rs-portfolio-inner portfolio-grid glass-effect-yes">
                  <div class="rs-portfolio-item content-overlay">
                    <div class="rs-portfolio-thumb">
                      <a href="{{this.link}}">
                        <img src="{{this.image}}" alt="image" />
                      </a>
                    </div>
                    <div class="rs-portfolio-content">
                      <h5 class="rs-portfolio-title">
                        <a href="{{this.link}}">{{this.title}}</a>
                      </h5>
                      <span class="rs-portfolio-tag">{{this.category}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
      <!-- portfolio area end -->

      <!-- testimonial area start -->
      <section class="rs-testimonial-area rs-testimonial-one section-space p-relative secondary-bg">
        <div class="rs-testimonial-bg" data-background="assets/images/bg/testimonial-bg-01.png"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
              <div class="rs-section-title-wrapper section-title-space text-center">
                <span class="rs-section-subtitle has-text-style"> <img src="assets/images/shape/small-arrow.png" alt="image" />{{testimonials.subtitle}} </span>
                <h2 class="rs-section-title rs-split-text-enable split-in-fade">{{testimonials.title}}</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="swiper testimonial_active_one wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                <div class="swiper-wrapper">
                  {{#each testimonials.items}}
                  <div class="swiper-slide">
                    <div class="rs-testimonial-wrapper">
                      <div class="rs-testimonial-item">
                        <div class="rs-testimonial-content">
                          <div class="rs-testimonial-top">
                            <h5 class="rs-testimonial-title">{{this.title}}</h5>
                            <div class="rs-rating">
                              {{#times this.rating}}
                              <span><i class="ri-star-fill"></i></span>
                              {{/times}}
                            </div>
                          </div>
                          <div class="rs-testimonial-description">
                            <p>{{this.content}}</p>
                          </div>
                        </div>
                        <div class="rs-testimonial-bottom">
                          <div class="rs-testimonial-avater-info">
                            <h6 class="rs-testimonial-avater-title">{{this.author}}</h6>
                            <span class="rs-testimonial-avater-designation">{{this.designation}}</span>
                          </div>
                          <div class="rs-testimonial-icon">
                            <img src="assets/images/shape/quote-shape.png" alt="image" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/each}}
                </div>
                <div class="rs-pagination justify-content-center mt-50"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- testimonial area end -->

      <!-- cta area start -->
      <section class="rs-cta-area section-space rs-cta-two p-relative primary-bg">
        <div class="rs-cta-bg" data-background="assets/images/bg/cta-bg-01.png"></div>
        <div class="container">
          <div class="row g-5">
            <div class="col-xl-4 col-lg-5">
              <div class="rs-cta-thumb wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
                <img src="{{about.image}}" alt="image" />
              </div>
            </div>
            <div class="col-xl-8 col-lg-7">
              <div class="rs-cta-content wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
                <div class="rs-cta-large-text gsap-move right-60 start-81">
                  <h2 class="rs-cta-large-title">{{about.subtitle}}</h2>
                </div>
                <div class="rs-cta-shape">
                  <img src="assets/images/shape/hand-shape.png" alt="image" />
                </div>
                <h2 class="rs-cta-title rs-split-text-enable split-in-fade">{{about.title}}</h2>
                <div class="rs-cta-description">
                  <p>{{{about.description}}}</p>
                </div>
                <div class="rs-cta-btn">
                  <div class="rs-rotate-btn">
                    <a class="rs-circle-btn" href="{{about.button.link}}">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path d="M31,0H15V2H28.59L.29,30.29l1.41,1.41L30,3.41V16h2V1A1,1,0,0,0,31,0Z"></path>
                      </svg>
                    </a>
                    <div class="rs_circle_title gsap-rotate rs-text-circle-wrapper">
                      <div class="rs-text-circle" data-rotate-degree="13.33">{{about.button.text}} . {{about.button.text}} .</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- cta area end -->

      <!-- faq area start -->
      <section class="rs-faq-area section-space-bottom rs-faq-one has-bg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
              <div class="rs-section-title-wrapper section-title-space text-center">
                <span class="rs-section-subtitle has-text-style"> <img src="assets/images/shape/small-arrow.png" alt="image" />{{faq.subtitle}} </span>
                <h2 class="rs-section-title rs-split-text-enable split-in-fade">{{faq.title}}</h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-9 col-md-10">
              <div class="rs-faq-wrapper wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                <div class="rs-faq-item">
                  <div class="rs-services-content accordion-style-two">
                    <div class="accordion-wrapper">
                      <div class="accordion" id="accordionExampleOne">
                        {{#each faq.items}}
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="heading{{@index}}">
                            <button class="accordion-button has-large-font{{#unless isOpen}} collapsed{{/unless}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{@index}}" aria-expanded="{{#if isOpen}}true{{else}}false{{/if}}" aria-controls="collapse{{@index}}">
                              {{this.question}}
                              <span class="accordion-btn"></span>
                            </button>
                          </h4>
                          <div id="collapse{{@index}}" class="accordion-collapse collapse{{#if isOpen}} show{{/if}}" data-bs-parent="#accordionExampleOne">
                            <div class="accordion-body">{{this.answer}}</div>
                          </div>
                        </div>
                        {{/each}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- faq area end -->

      <!-- blog area start -->
      <section id="homeblog" class="rs-blog-area rs-blog-one section-space secondary-bg has-bg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
              <div class="rs-section-title-wrapper section-title-space text-center">
                <span class="rs-section-subtitle has-text-style"> {{blog.subtitle}} </span>
                <h2 class="rs-section-title rs-split-text-enable split-in-fade">{{blog.title}}</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="swiper blog_active_one wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                <div class="swiper-wrapper">
                  {{#each blog.items}}
                  <div class="swiper-slide">
                    <div class="rs-blog-wrapper">
                      <div class="rs-blog-item">
                        <div class="rs-blog-thumb">
                          <a href="{{this.link}}"> <img src="{{this.image}}" alt="image" /></a>
                          <div class="rs-blog-tag">
                            <a href="{{this.link}}"> {{this.category}}</a>
                          </div>
                        </div>
                        <div class="rs-blog-content">
                          <h5 class="rs-blog-title"><a href="{{this.link}}">{{this.title}}</a></h5>
                          <div class="rs-blog-meta-list">
                            <div class="rs-blog-meta-item has-separator">
                              <span class="rs-meta-text"><a class="meta-author" href="{{this.link}}">By {{this.author}}</a></span>
                            </div>
                            <div class="rs-blog-meta-item">
                              <span class="rs-meta-text"><a href="{{this.link}}">{{this.date}}</a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/each}}
                </div>
                <div class="rs-blog-pagination rs-pagination d-flex justify-content-center mt-50"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- blog area end -->

      <!-- contact area start -->
      <section id="homecontact" class="rs-contact-area rs-contact-one section-space primary-bg p-relative has-bg">
        <div class="rs-contact-bg" data-background="assets/images/bg/contact-bg-01.png"></div>
        <div class="container">
          <div class="row align-items-center g-5">
            <div class="col-xl-5 col-lg-5">
              <div class="rs-contact-wrapper wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
                <div class="rs-section-title-wrapper section-title-space">
                  <span class="rs-section-subtitle justify-content-start has-text-style"> {{contact.subtitle}} </span>
                  <h2 class="rs-section-title rs-split-text-enable split-in-fade">{{contact.title}}</h2>
                </div>
                <div class="rs-contact-list">
                  {{#each contact.info}}
                  <div class="rs-contact-list-item">
                    <div class="rs-contact-icon">
                      <span>
{{{this.iconSvg}}}
                      </span>
                    </div>
                    <div class="rs-contact-list-content">
                      <span>{{this.type}}</span>
                      <h6><a href="{{this.link}}">{{{this.value}}}</a></h6>
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
            <div class="col-xl-7 col-lg-7">
              <div class="rs-contact-form wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
                <div class="contact-form-container">
                  <h4>Ready to work together?</h4>
                  <p>Fill out the form below and it will open your email client with the details pre-filled.</p>
                  
                  <form id="contactForm" action="#" method="post" onsubmit="return handleContactForm(event)">
                    <div class="form-row">
                      <div class="form-group">
                        <label for="name">Your Name *</label>
                        <input type="text" id="name" name="name" required>
                      </div>
                      <div class="form-group">
                        <label for="email">Your Email *</label>
                        <input type="email" id="email" name="email" required>
                      </div>
                    </div>
                    
                    <div class="form-row">
                      <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel" id="phone" name="phone">
                      </div>
                      <div class="form-group">
                        <label for="company">Company</label>
                        <input type="text" id="company" name="company">
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="subject">Subject *</label>
                      <select id="subject" name="subject" required>
                        <option value="">Select a subject</option>
                        <option value="Cloud Infrastructure Consultation">Cloud Infrastructure Consultation</option>
                        <option value="DevOps Automation Services">DevOps Automation Services</option>
                        <option value="Linux Training">Linux Training</option>
                        <option value="Database Administration">Database Administration</option>
                        <option value="System Integration">System Integration</option>
                        <option value="Speaking Engagement">Speaking Engagement</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                    
                    <div class="form-group">
                      <label for="message">Message *</label>
                      <textarea id="message" name="message" rows="3" required placeholder="Please describe your project requirements, timeline, and any specific questions you have..."></textarea>
                    </div>
                    
                    <div class="form-group">
                      <button type="submit" class="submit-btn">Send Message</button>
                    </div>
                  </form>
                  
                  <div class="contact-info">
                    <p><small>This form will open your default email client with the details pre-filled. You can then send the email directly from there.</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- contact area end -->
    </main>
    <!-- Body main wrapper end -->

    <!-- footer area start -->
    <footer class="rs-footer-area rs-footer-one primary-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6">
            <div class="rs-footer-widget footer-1-col-1">
              <div class="rs-footer-widget-logo text-center">
                <a href="index.html">
                  <a class="logo-black" href="index.html"><img src="{{footer.logo.black}}" alt="logo" /></a>
                  <a class="logo-white" href="index.html"><img src="{{footer.logo.white}}" alt="logo" /></a>
                </a>
              </div>
              <div class="rs-footer-widget-content">
                <div class="rs-footer-list-wrapper">
                  <ul class="rs-footer-list">
                    {{#each footer.navigation}}
                    <li><a href="{{this.link}}">{{this.text}}</a></li>
                    {{/each}}
                  </ul>
                </div>
                {{#if footer.social}}
                <div class="rs-footer-social">
                  <h4 class="footer-social-title">Follow Me</h4>
                  <ul class="rs-footer-social-list">
                    {{#each footer.social}}
                    <li>
                      <a href="{{this.link}}" target="_blank" rel="noopener noreferrer">
                        <i class="{{this.icon}}"></i>
                      </a>
                    </li>
                    {{/each}}
                  </ul>
                </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rs-footer-copyright-area rs-copyright-one">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-12">
              <div class="rs-footer-copyright text-center">
                <p>{{{footer.copyright.text}}} <a href="{{footer.copyright.link.url}}">{{footer.copyright.link.text}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer area end -->

    <!-- back to top -->
    <!-- Backtotop start -->
    <div class="backtotop-wrap cursor-pointer">
      <svg class="backtotop-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- Backtotop end -->

    <!-- JS here -->
    {{#each scripts}}
    <script src="{{this}}"></script>
    {{/each}}
    
    <!-- Contact Form Handler -->
    <script>
    // Force form input visibility
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            const inputs = document.querySelectorAll('#contactForm input, #contactForm textarea');
            inputs.forEach(function(input) {
                input.style.setProperty('background', '#ffffff', 'important');
                input.style.setProperty('color', '#000000', 'important');
                input.style.setProperty('border', '2px solid #cccccc', 'important');
                input.style.setProperty('font-size', '16px', 'important');
            });
        }, 1000);
    });
    
    function handleContactForm(event) {
        console.log('Contact form submit event triggered (inline handler)');
        event.preventDefault();
        
        // Get form data
        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var phone = document.getElementById('phone').value;
        var company = document.getElementById('company').value;
        var subject = document.getElementById('subject').value;
        var message = document.getElementById('message').value;
        
        console.log('Form data:', {name, email, phone, company, subject, message});
        
        // Validate required fields
        if (!name || !email || !subject || !message) {
            alert('Please fill in all required fields.');
            return false;
        }
        
        // Create email content
        var emailSubject = 'Portfolio Inquiry: ' + subject;
        var emailBody = 'Hi Joe,\n\n';
        emailBody += 'I would like to discuss working with you on: ' + subject + '\n\n';
        emailBody += 'Details:\n';
        emailBody += 'Name: ' + name + '\n';
        emailBody += 'Email: ' + email + '\n';
        if (phone) emailBody += 'Phone: ' + phone + '\n';
        if (company) emailBody += 'Company: ' + company + '\n';
        emailBody += '\nMessage:\n' + message + '\n\n';
        emailBody += 'Best regards,\n' + name;
        
        // Create mailto link
        var mailtoLink = 'mailto:biohackerjoe@gmail.com' +
            '?from=' + encodeURIComponent(email) +
            '&subject=' + encodeURIComponent(emailSubject) +
            '&body=' + encodeURIComponent(emailBody);
        
        console.log('Opening mailto link:', mailtoLink);
        
        // Open email client
        window.location.href = mailtoLink;
        
        // Show success message
        alert('Your email client should now open with the message pre-filled. Please review and send the email.');
        
        // Reset form
        document.getElementById('contactForm').reset();
        
        return false;
    }
    </script>
  </body>
</html>
